Deployment/0cclcle.template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "name": {
            "type": "String"
        },
        "location": {
            "type": "String"
        },
        "locationkey": {
            "type": "String"
        },
        "accountsubscription": {
            "type": "String"
        },
        "accountconnection": {
            "type": "String"
        },
        "database": {
            "type": "String"
        },
        "collection": {
            "type": "String"
        }
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('name')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Initialize_ContinuationToken": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ContinuationToken",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "Response": {
                            "inputs": {
                                "body": {},
                                "statusCode": 200
                            },
                            "kind": "Http",
                            "operationOptions": "Asynchronous",
                            "runAfter": {
                                "Until_no_ContinuationToken_read_documents_and_delete_them": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response"
                        },
                        "Until_no_ContinuationToken_read_documents_and_delete_them": {
                            "actions": {
                                "For_each_command_but_only_one_at_a_time": {
                                    "actions": {
                                        "Delete_a_document": {
                                            "inputs": {
                                                "headers": {
                                                    "x-ms-documentdb-raw-partitionkey": "\"@{items('For_each_command_but_only_one_at_a_time')['_pk']}\""
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "[concat('@parameters(''$connections'')[''',parameters('accountconnection'),'''][''connectionId'']')]"
                                                    }
                                                },
                                                "method": "delete",
                                                "path": "[concat('/dbs/@{encodeURIComponent(''',parameters('database'),''')}/colls/@{encodeURIComponent(''',parameters('collection'),''')}/docs/@{encodeURIComponent(items(''For_each_command_but_only_one_at_a_time'')[''id''])}')]"
                                            },
                                            "runAfter": {},
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "foreach": "@body('Get_all_commands')?['value']",
                                    "runAfter": {
                                        "Set_ContinuationToken": [
                                            "Succeeded"
                                        ]
                                    },
                                    "runtimeConfiguration": {
                                        "concurrency": {
                                            "repetitions": 1
                                        }
                                    },
                                    "type": "Foreach"
                                },
                                "Get_all_commands": {
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "[concat('@parameters(''$connections'')[''',parameters('accountconnection'),'''][''connectionId'']')]"
                                            }
                                        },
                                        "method": "get",
                                        "path": "[concat('/v3/dbs/@{encodeURIComponent(''',parameters('database'),''')}/colls/@{encodeURIComponent(''',parameters('collection'),''')}/query')]",
                                        "queries": {
                                            "continuationToken": "@variables('ContinuationToken')",
                                            "enableCrossPartition": true,
                                            "queryText": "select * from c where c[\"_wt\"]<='@{coalesce(triggerBody()?['_wt'],utcNow())}'"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                },
                                "Set_ContinuationToken": {
                                    "inputs": {
                                        "name": "ContinuationToken",
                                        "value": "@body('Get_all_commands')?['ContinuationToken']"
                                    },
                                    "runAfter": {
                                        "Get_all_commands": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable"
                                }
                            },
                            "expression": "@equals(empty(variables('ContinuationToken')), true)",
                            "limit": {
                                "count": 100,
                                "timeout": "PT1H"
                            },
                            "runAfter": {
                                "Initialize_ContinuationToken": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Until"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "description": "Delete all commands",
                            "inputs": {
                            },
                            "kind": "Http",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "runs": 1
                                }
                            },
                            "type": "Request"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "[parameters('accountconnection')]": {
                                "connectionId": "[concat('/subscriptions/',parameters('accountsubscription'),'/resourceGroups/',resourceGroup().name,'/providers/Microsoft.Web/connections/',parameters('accountconnection'))]",
                                "connectionName": "[parameters('accountconnection')]",
                                "id": "[concat('/subscriptions/',parameters('accountsubscription'),'/providers/Microsoft.Web/locations/',parameters('locationkey'),'/managedApis/documentdb')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
